* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Lucida Sans', sans-serif;
    background-color: black;
    color: azure;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

header {
    text-align: center;
    color: azure;
}